.grid {
  display: grid;
  grid-gap: 0 2%;
  grid-template-columns: repeat(auto-fit, 32%);

  &__item {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width:479px) {
  .grid {
    display: inline;
    grid-gap: 0 2%;
    grid-template-columns: repeat(auto-fit, 32%);
  
    &__item {
      margin-bottom: 2rem;
    }
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 299b8fe58927de75a88a3aea06b2dc891e170e40
