.grid {
  display: grid;
  grid-gap: 0 2%;
  grid-template-columns: repeat(auto-fit, 32%);

  &__item {
    margin-bottom: 2rem;
  }
}

.grid_column {
  display: grid;
  grid-gap: 0 10%;
  grid-template-columns: repeat(auto-fit, 45%);

  &__item {
    margin-bottom: 2rem;
    border: solid;
  }
}

@media screen and (max-width:479px) {
  .grid {
    display: inline;
    grid-gap: 0 2%;
    grid-template-columns: repeat(auto-fit, 32%);
  
    &__item {
      margin-bottom: 2rem;
    }
  }
}