.message {
  background: #D7F9EE;
  border: 1px solid #41e2b2;
  border-radius: .25rem;
  color: #117355;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.deletemessage {
  background: rgb(249, 215, 215);
  border: 1px solid #e24141;
  border-radius: .25rem;
  color: #731111;
  margin-bottom: 1.5rem;
  padding: 1rem;
}