@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
}

main {
  margin-bottom: 6rem;
  margin-top: 7rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2%;
}

.container--small {
  margin: 0 auto;
  max-width: 600px;
}

.grid {
  display: grid;
  grid-gap: 0 2%;
  grid-template-columns: repeat(auto-fit, 32%);
}

.grid__item {
  margin-bottom: 2rem;
}

.grid_column {
  display: grid;
  grid-gap: 0 10%;
  grid-template-columns: repeat(auto-fit, 45%);
}

.grid_column__item {
  margin-bottom: 2rem;
  border: solid;
}

@media screen and (max-width: 479px) {
  .grid {
    display: inline;
    grid-gap: 0 2%;
    grid-template-columns: repeat(auto-fit, 32%);
  }

  .grid__item {
    margin-bottom: 2rem;
  }
}

.navbar {
  align-items: center;
  background: #66CCFF;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  height: 4rem;
  justify-content: space-between;
  left: 0;
  padding: 2%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.navbar__brand {
  color: inherit;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 2em;
}

.navbar__brand:visited {
  color: inherit;
}

.navbar__brand:hover {
  opacity: 0.6;
}

.navbar .bm-burger-button {
  position: fixed;
  width: 2.5em;
  height: 2em;
  left: 1.2em;
  top: 1.2em;
  cursor: pointer;
}

.navbar .bm-burger-bars {
  background-color: #373a47;
}

.navbar .line-style {
  position: absolute;
  height: 20%;
  left: 0;
  right: 0;
}

.navbar .cross-style {
  position: absolute;
  top: 12px;
  right: 2px;
  cursor: pointer;
}

.navbar .bm-cross {
  background: #bdc3c7;
}

.navbar .bm-cross-button {
  height: 24px;
  width: 24px;
}

.navbar .bm-menu {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #3f3f41;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /*0.5 second transition effect to slide in the sidenav*/
}

.navbar .bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.navbar .bm-item-list {
  color: #b8b7ad;
  margin-left: 10%;
  font-size: 20px;
}

.navbar .bm-item-list > * {
  display: flex;
  text-decoration: none;
  padding: 0.7em;
}

.navbar .bm-item-list > * > span {
  margin-left: 10px;
  font-weight: 700;
  color: white;
}

.navbar__chart {
  color: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar__chart:visited {
  color: inherit;
}

.navbar__chart:hover {
  opacity: 0.6;
}

.navbar__menu {
  align-items: center;
  display: flex;
}

.navbar__item {
  margin-left: 1rem;
}

.navbar_column {
  align-items: center;
  background: #FF367F;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  height: 4rem;
  justify-content: space-between;
  left: 0;
  padding: 2%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.navbar_column__brand {
  color: inherit;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 2em;
}

.navbar_column__brand:visited {
  color: inherit;
}

.navbar_column__brand:hover {
  opacity: 0.6;
}

.navbar_column .bm-burger-button {
  position: fixed;
  width: 2.5em;
  height: 2em;
  left: 1.2em;
  top: 1.2em;
  cursor: pointer;
}

.navbar_column .bm-burger-bars {
  background-color: #373a47;
}

.navbar_column .line-style {
  position: absolute;
  height: 20%;
  left: 0;
  right: 0;
}

.navbar_column .cross-style {
  position: absolute;
  top: 12px;
  right: 2px;
  cursor: pointer;
}

.navbar_column .bm-cross {
  background: #bdc3c7;
}

.navbar_column .bm-cross-button {
  height: 24px;
  width: 24px;
}

.navbar_column .bm-menu {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #3f3f41;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /*0.5 second transition effect to slide in the sidenav*/
}

.navbar_column .bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.navbar_column .bm-item-list {
  color: #b8b7ad;
  margin-left: 10%;
  font-size: 20px;
}

.navbar_column .bm-item-list > * {
  display: flex;
  text-decoration: none;
  padding: 0.7em;
}

.navbar_column .bm-item-list > * > span {
  margin-left: 10px;
  font-weight: 700;
  color: white;
}

.navbar_column__chart {
  color: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar_column__chart:visited {
  color: inherit;
}

.navbar_column__chart:hover {
  opacity: 0.6;
}

.navbar_column__menu {
  align-items: center;
  display: flex;
}

.navbar_column__item {
  margin-left: 1rem;
}

@media screen and (max-width: 479px) {
  .navbar {
    align-items: center;
    background: #66CCFF;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    height: 4rem;
    justify-content: space-between;
    left: 0;
    padding: 2%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
  }

  .navbar__brand {
    color: inherit;
    font-family: Merriweather, serif;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    margin-left: 3.5em;
  }

  .navbar__brand:visited {
    color: inherit;
  }

  .navbar__brand:hover {
    opacity: 0.6;
  }

  .navbar__chart {
    color: inherit;
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
  }

  .navbar__chart:visited {
    color: inherit;
  }

  .navbar__chart:hover {
    opacity: 0.6;
  }

  .navbar__menu {
    align-items: center;
    display: flex;
  }

  .navbar .bm-burger-button {
    position: fixed;
    width: 2em;
    height: 1.5em;
    left: 1.2em;
    top: 1.2em;
    cursor: pointer;
  }

  .navbar .bm-burger-bars {
    background-color: #373a47;
  }

  .navbar .line-style {
    position: absolute;
    height: 20%;
    left: 0;
    right: 0;
  }

  .navbar .cross-style {
    position: absolute;
    top: 12px;
    right: 2px;
    cursor: pointer;
  }

  .navbar .bm-cross {
    background: #bdc3c7;
  }

  .navbar .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  .navbar .bm-menu {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #3f3f41;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /*0.5 second transition effect to slide in the sidenav*/
  }

  .navbar .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .navbar .bm-item-list {
    color: #b8b7ad;
    margin-left: 10%;
    font-size: 20px;
  }

  .navbar .bm-item-list > * {
    display: flex;
    text-decoration: none;
    padding: 0.7em;
    font-size: 1.5rem;
  }

  .navbar .bm-item-list > * > span {
    margin-left: 10px;
    font-weight: 700;
    color: white;
  }
}

.photo {
  position: relative;
}

.photo:hover .photo__overlay {
  visibility: visible;
}

.photo:nth-child(4n+1) .photo__wrapper {
  background: #DBBCD5;
}

.photo:nth-child(4n+2) .photo__wrapper {
  background: #DBDBBC;
}

.photo:nth-child(4n+3) .photo__wrapper {
  background: #BCDBC8;
}

.photo:nth-child(4n) .photo__wrapper {
  background: #BCC8DB;
}

.photo__wrapper {
  overflow: hidden;
  padding-top: 75%;
  position: relative;
}

.photo__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.photo__overlay {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: #fff;
  cursor: zoom-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  visibility: hidden;
}

.photo__controls {
  text-align: right;
}

.photo__action {
  background: #fff;
  border: 0;
  border-radius: 0.25rem;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  margin-left: 0.25rem;
  opacity: 0.8;
  outline: none;
  padding: 0.5em 0.75em;
}

.photo__action:hover {
  opacity: 1;
}

.photo__action--like .icon {
  color: #e4406f;
  margin-right: 0.5em;
}

.photo__action--liked {
  background: #e4406f;
  color: #fff;
}

.photo__action--liked .icon {
  color: #fff;
}

.photo-detail {
  display: flex;
  justify-content: space-between;
}

.photo-detail--column {
  flex-direction: column;
}

.photo-detail--column .photo-detail__pane {
  width: 100%;
}

.photo-detail--column .photo-detail__image {
  cursor: zoom-out;
}

.photo-detail__pane {
  width: 49%;
}

.photo-detail__image {
  cursor: zoom-in;
  margin-bottom: 1.5rem;
}

.photo-detail__image figcaption {
  margin-top: 0.5rem;
}

.photo-detail__title {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.photo-detail__title .icon {
  margin-right: 0.5em;
}

.photo-detail__comments {
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-detail__commentItem {
  border-bottom: 1px solid #dedede;
  margin-bottom: 1.5rem;
  padding: 0 0 1.5rem 0;
}

.photo-detail__commentBody {
  margin: 0 0 1rem 0;
}

.photo-detail__commentInfo {
  color: #8a8a8a;
  margin: 0;
}

.note-icon {
  display: flex;
  justify-content: center;
}

.detail-back {
  align-items: center;
  background: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  height: 4rem;
  justify-content: space-between;
  left: 0;
  padding: 2%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.detail-back__brand {
  color: inherit;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.detail-back__brand:hover {
  opacity: 0.6;
}

.icon--wakeup {
  color: #C0C0C0;
}

@media screen and (max-width: 479px) {
  .photo-detail {
    display: initial;
    justify-content: space-between;
  }

  .photo-detail--column {
    flex-direction: column;
  }

  .photo-detail--column .photo-detail__pane {
    width: 100%;
  }

  .photo-detail--column .photo-detail__image {
    cursor: zoom-out;
  }

  .photo-detail__pane {
    width: 100%;
  }

  .photo-detail__image {
    cursor: zoom-in;
    margin-bottom: 1.5rem;
  }

  .photo-detail__image figcaption {
    margin-top: 0.5rem;
  }

  .photo-detail__title {
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }

  .photo-detail__title .icon {
    margin-right: 0.5em;
  }

  .photo-detail__comments {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .photo-detail__commentItem {
    border-bottom: 1px solid #dedede;
    margin-bottom: 1.5rem;
    padding: 0 0 1.5rem 0;
  }

  .photo-detail__commentBody {
    margin: 0 0 1rem 0;
  }

  .photo-detail__commentInfo {
    color: #8a8a8a;
    margin: 0;
  }

  .photo-detail__body_border {
    border: 1px solid #dedede;
  }

  .note-icon {
    display: flex;
    justify-content: center;
  }

  .detail-back {
    align-items: center;
    background: #fff;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    height: 4rem;
    justify-content: space-between;
    left: 0;
    padding: 2%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
  }

  .detail-back__brand {
    color: inherit;
    font-family: Merriweather, serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .detail-back__brand:hover {
    opacity: 0.6;
  }
}

.photo-form {
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  max-height: 75vh;
  max-width: 600px;
  overflow: scroll;
  padding: 1.5rem;
  position: absolute;
  right: 2%;
  top: 3.5rem;
  width: 90%;
}

.button {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  color: #8a8a8a;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.button:hover {
  border-color: #333;
  color: inherit;
}

.button .icon {
  margin-right: 0.5em;
}

.button--link {
  border: 0;
  padding: 0.7rem 1.2rem;
  font-size: 1.2rem;
}

.button--inverse {
  background: #222;
  border-color: #222;
  color: #fff;
  transition: opacity 300ms ease-in-out;
}

.button--inverse:hover {
  background: #222;
  color: #fff;
  opacity: 0.8;
}

.button--fluid {
  width: 100%;
}

.button--like .icon {
  color: #e4406f;
}

.button--liked {
  background: #e4406f;
  border-color: #e4406f;
  color: #fff;
}

.button--liked .icon {
  color: #fff;
}

.button--liked:hover {
  border-color: #e4406f;
  color: #fff;
  opacity: 0.8;
}

.button_column {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  color: #8a8a8a;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.button_column:hover {
  border-color: #333;
  color: inherit;
}

.button_column .icon {
  margin-right: 0.5em;
}

.button_column--link {
  border: 0;
  padding: 0.7rem 1.2rem;
  font-size: 1.2rem;
}

.button_column--inverse {
  background: #222;
  border-color: #222;
  color: #fff;
  transition: opacity 300ms ease-in-out;
}

.button_column--inverse:hover {
  background: #222;
  color: #fff;
  opacity: 0.8;
}

.button_column--fluid {
  width: 100%;
}

.button_column--like .icon {
  color: #e4406f;
}

.button_column--liked {
  background: #e4406f;
  border-color: #e4406f;
  color: #fff;
}

.button_column--liked .icon {
  color: #fff;
}

.button_column--liked:hover {
  border-color: #e4406f;
  color: #fff;
  opacity: 0.8;
}

.button_notes {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  color: #8a8a8a;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.button_notes:hover {
  border-color: #333;
  color: inherit;
}

.button_notes .icon {
  margin-right: 0.5em;
}

.button_notes--link {
  border: 0;
  padding: 0.7rem 1.2rem;
  font-size: 1.2rem;
}

.button_notes--inverse {
  background: #222;
  border-color: #222;
  color: #fff;
  transition: opacity 300ms ease-in-out;
}

.button_notes--inverse:hover {
  background: #222;
  color: #fff;
  opacity: 0.8;
}

.button_notes--fluid {
  width: 100%;
}

.button_notes--like .icon {
  color: #e4406f;
}

.button_notes--liked {
  background: #e4406f;
  border-color: #e4406f;
  color: #fff;
}

.button_notes--liked .icon {
  color: #fff;
}

.button_notes--liked:hover {
  border-color: #e4406f;
  color: #fff;
  opacity: 0.8;
}

.change {
  display: inline-block;
  background-color: #02bcf5;
  /*背景色*/
  color: #FFF;
  /*文字色*/
  font-size: 1em;
  /*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;
  /*字間*/
  padding: 0.2em 1em;
  /*ボタン内の余白*/
  border-radius: 3px;
  /*角の丸み*/
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /*影*/
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease-out;
  /*変化を緩やかに*/
}

.raised:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  /*浮き上がるように*/
}

.cancel {
  display: inline-block;
  background-color: #f50000;
  /*背景色*/
  color: #FFF;
  /*文字色*/
  font-size: 1em;
  /*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;
  /*字間*/
  padding: 0.2em 1em;
  /*ボタン内の余白*/
  margin-right: 1em;
  border-radius: 3px;
  /*角の丸み*/
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /*影*/
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease-out;
  /*変化を緩やかに*/
}

.raised:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  /*浮き上がるように*/
}

.button2 {
  background: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.button2--info .icon {
  color: black;
  font-size: 30px;
}

.button2--delete .icon {
  color: #e4406f;
  font-size: 30px;
}

.button2--back .icon {
  color: black;
  font-size: 30px;
  float: left;
}

.buttonBack {
  background: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.buttonBack--back .icon {
  color: black;
  font-size: 30px;
}

.button-submit {
  padding-top: 2em;
  text-align: center;
}

.button_top {
  border: 3px solid #02bcf5;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  margin-bottom: 1em;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.button_top:hover {
  border-color: #0196c4;
  background-color: #02bcf5;
  color: inherit;
}

.guest_login {
  text-align: center;
}

.guest {
  display: inline-block;
  background-color: #02bcf5;
  /*背景色*/
  color: #FFF;
  /*文字色*/
  font-size: 1em;
  /*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;
  /*字間*/
  padding: 0.5em 1em;
  /*ボタン内の余白*/
  border-radius: 3px;
  /*角の丸み*/
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /*影*/
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease-out;
  /*変化を緩やかに*/
}

@media screen and (max-width: 479px) {
  .button_top {
    border: 3px solid #0196c4;
    background-color: #02bcf5;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
    outline: none;
    margin-bottom: 0.5em;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
  }

  .button {
    border: 1px solid #dedede;
    border-radius: 0.25rem;
    color: #8a8a8a;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 0.8rem;
    line-height: 1;
    outline: none;
    padding: 0.3rem 0.3rem;
    text-decoration: none;
    transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
  }

  .button:hover {
    border-color: #333;
    color: inherit;
  }

  .button .icon {
    margin-right: 0.5em;
  }

  .button--link {
    border: 0;
  }

  .button--inverse {
    background: #222;
    border-color: #222;
    color: #fff;
    transition: opacity 300ms ease-in-out;
  }

  .button--inverse:hover {
    background: #222;
    color: #fff;
    opacity: 0.8;
  }

  .button--fluid {
    width: 100%;
  }

  .button--like .icon {
    color: #e4406f;
  }

  .button--liked {
    background: #e4406f;
    border-color: #e4406f;
    color: #fff;
  }

  .button--liked .icon {
    color: #fff;
  }

  .button--liked:hover {
    border-color: #e4406f;
    color: #fff;
    opacity: 0.8;
  }
}

.form__item {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5em 0.75em;
  width: 100%;
}

.form__hidden {
  display: none;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
}

.form__output {
  display: block;
  margin-bottom: 1rem;
}

.form__button {
  text-align: right;
}

.tab {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab__item {
  border-bottom: 2px solid #dedede;
  color: #8a8a8a;
  cursor: pointer;
  margin: 0 1rem 0 0;
  padding: 1rem;
}

.tab__item--active {
  border-bottom: 2px solid #222;
  color: #222;
  font-weight: bold;
}

.footer {
  align-items: center;
  border-top: 1px solid #f1f1f1;
  display: flex;
  height: 5rem;
  justify-content: center;
}

.errors {
  border: 1px solid #c7004c;
  border-radius: 0.25rem;
  color: #c7004c;
  margin-bottom: 1rem;
}

.pagination {
  text-align: center;
}

.panel {
  border: 1px solid #dedede;
  margin-top: 1rem;
  padding: 1.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader__item--heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
}

.loader__item--heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #e4406f;
  -webkit-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader__item--heart div:after,
.loader__item--heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #e4406f;
}

.loader__item--heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}

.loader__item--heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}

@-webkit-keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}

.message {
  background: #D7F9EE;
  border: 1px solid #41e2b2;
  border-radius: 0.25rem;
  color: #117355;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.deletemessage {
  background: #f9d7d7;
  border: 1px solid #e24141;
  border-radius: 0.25rem;
  color: #731111;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.note-form {
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  max-height: 75vh;
  max-width: 600px;
  overflow: scroll;
  padding: 1.5rem;
  position: absolute;
  right: 2%;
  top: 3.5rem;
  width: 90%;
}

li {
  list-style: none;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.note-item {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.note-title {
  text-align: center;
}

.border {
  border-bottom: 1px solid #ccc;
}

.display {
  display: flex;
  justify-content: center;
}

.display-item {
  display: flex;
  margin-bottom: 1.5em;
}

input.width-record {
  height: 25%;
  margin: 1em 0 0 1.5em;
}

input.width-time {
  height: 25%;
  margin: 1em 0 0 1.5em;
}

.image-radio-button {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0.5em 2em 0;
  padding: 10px;
  float: left;
  color: #fff;
  background-color: #fff;
}

.image-radio-button:hover {
  background: #eee;
}

.image-radio-button label {
  cursor: pointer;
}

textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none;
  border: none;
}

.text_form {
  background: #f8f8f8;
  display: block;
  font-size: 16px;
  padding: 12px 15px;
  width: 100%;
  transition: 0.8s;
  border-radius: 0;
}

.overlay {
  /*　要素を重ねた時の順番　*/
  z-index: 1;
  /*　画面全体を覆う設定　*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.raised {
  display: inline-block;
  background-color: #26a69b;
  /*背景色*/
  color: #FFF;
  /*文字色*/
  font-size: 1em;
  /*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;
  /*字間*/
  padding: 0.2em 1em;
  /*ボタン内の余白*/
  margin-top: 2em;
  border-radius: 3px;
  /*角の丸み*/
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /*影*/
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease-out;
  /*変化を緩やかに*/
}

.modal-content {
  z-index: 2;
  margin-top: 5em;
  padding: 2em;
  background: #fff;
}

.modal-delete {
  z-index: 2;
  margin-top: 5em;
  padding: 2em;
  background: #fff;
}

.required {
  display: inline-block;
  background-color: #ff0000;
  /*背景色*/
  color: #FFF;
  /*文字色*/
  font-size: 0.8em;
  /*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;
  /*字間*/
  padding: 0.2em 0.4em;
  /*ボタン内の余白*/
  margin-right: 0.5em;
  border-radius: 3px;
  /*角の丸み*/
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /*影*/
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease-out;
  /*変化を緩やかに*/
}

.note_item {
  display: flex;
}

.submit_button {
  text-align: center;
}

@media screen and (max-width: 479px) {
  .note-form {
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    max-height: 75vh;
    max-width: 600px;
    overflow: scroll;
    padding: 1.5rem;
    position: absolute;
    right: 5%;
    top: 3.5rem;
    width: 90%;
  }
}

.note {
  position: relative;
}

.note:hover .note__overlay {
  visibility: visible;
}

.note:nth-child(4n+1) .note__wrapper {
  background: #DBBCD5;
}

.note:nth-child(4n+2) .note__wrapper {
  background: #DBDBBC;
}

.note:nth-child(4n+3) .note__wrapper {
  background: #BCDBC8;
}

.note:nth-child(4n) .note__wrapper {
  background: #BCC8DB;
}

.note__wrapper {
  overflow: hidden;
  position: relative;
}

.note__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.note__overlay {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: #fff;
  cursor: zoom-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  visibility: hidden;
}

.note__controls {
  text-align: right;
}

.note__action {
  background: #fff;
  border: 0;
  border-radius: 0.25rem;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  margin-left: 0.25rem;
  opacity: 0.8;
  outline: none;
  padding: 0.5em 0.75em;
}

.note__action:hover {
  opacity: 1;
}

.note__action--like .icon {
  color: #e4406f;
  margin-right: 0.5em;
}

.note__action--liked {
  background: #e4406f;
  color: #fff;
}

.note__action--liked .icon {
  color: #fff;
}

.condition_display {
  padding-bottom: 50px;
}

.icon_display {
  text-align: center;
}

.icon_display_edit {
  border: 5px solid #dedede;
  text-align: center;
}

.icon_side {
  display: inline-block;
}

.hidden_id {
  visibility: hidden;
}

.small-icon {
  width: 50%;
}

.form-edit__item {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5em 0.75em;
  width: 100%;
}

.form-edit label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-edit__output {
  display: block;
  margin-bottom: 1rem;
}

.form-edit__button {
  text-align: right;
}

.input-wide {
  display: flex;
  justify-content: center;
}

.text_edit {
  background: #f8f8f8;
  display: block;
  font-size: 16px;
  width: 100%;
  padding: 12px 15px;
  transition: 0.8s;
  border-radius: 0;
}

.image-radio-button-small {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
  float: left;
  color: #fff;
}

.image-radio-button-small:hover {
  background: #eee;
}

.modal-header,
.modal-body {
  padding: 5px 25px;
}

.modal-header {
  border-bottom: 1px solid #ddd;
}

.scrollItem {
  position: relative;
  width: 300px;
  height: 300px;
}

.ps {
  position: absolute;
  overflow: hidden;
  width: 50%;
  height: 100%;
}

.display-item_edit {
  display: flex;
}

@media screen and (max-width: 479px) {
  .text_edit {
    background: #f8f8f8;
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 12px 15px;
    transition: 0.8s;
    border-radius: 0;
  }

  .ps {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.top_page {
  width: 100%;
  postion: relative;
  background-color: #000000;
  display: inline-block;
}

.top_page img {
  opacity: 0.7;
  display: block;
}

.top_page h1 {
  font-size: 3em;
  text-shadow: 1px 2px 3px #808080;
}

.top_page p {
  font-size: 1.4em;
  text-shadow: -1px -2px 3px #808080;
}

.top_page div.top_sentence {
  position: absolute;
  text-align: center;
  top: 70%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.top_border {
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
}

@media screen and (max-width: 479px) {
  .top_page h1 {
    font-size: 1em;
  }

  .top_page p {
    font-size: 0.7em;
  }

  .top_page div.top_sentence {
    position: absolute;
    text-align: center;
    top: 33%;
    left: 50%;
    width: 75%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
}

.chart {
  display: block;
  width: 100%;
  height: 40%;
  margin: auto;
}

.chart_p {
  text-align: center;
}

.border_chart {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.form_chart {
  display: flex;
  justify-content: center;
}

.year_title {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 3px;
  /*ボックス角の丸み*/
  border: 2px solid #ddd;
  /*枠線*/
  box-sizing: border-box;
  /*横幅の解釈をpadding, borderまでとする*/
}

.year_letter {
  margin-left: 0.5em;
  margin-right: 2em;
}

.month_letter {
  margin-left: 0.5em;
  margin-right: 2em;
}

.month_title {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 3px;
  /*ボックス角の丸み*/
  border: 2px solid #ddd;
  /*枠線*/
  box-sizing: border-box;
  /*横幅の解釈をpadding, borderまでとする*/
}

.submit_button_chart {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.chart_display {
  display: inline-block;
  background-color: #02bcf5;
  /*背景色*/
  color: #FFF;
  /*文字色*/
  font-size: 1em;
  /*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;
  /*字間*/
  padding: 0.5em 1em;
  /*ボタン内の余白*/
  border-radius: 3px;
  /*角の丸み*/
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /*影*/
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease-out;
  /*変化を緩やかに*/
}

.image-chart {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0.5em 2em 0;
  padding: 10px;
  float: left;
  background-color: #fff;
}

@media screen and (max-width: 479px) {
  .form_chart {
    display: flex;
    justify-content: center;
  }

  .year_title {
    height: 100%;
    width: 15%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 3px;
    /*ボックス角の丸み*/
    border: 2px solid #ddd;
    /*枠線*/
    box-sizing: border-box;
    /*横幅の解釈をpadding, borderまでとする*/
  }

  .year_letter {
    margin-left: 0.5em;
    margin-right: 2em;
  }

  .month_letter {
    margin-left: 0.5em;
    margin-right: 2em;
  }

  .month_title {
    height: 100%;
    width: 15%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 3px;
    /*ボックス角の丸み*/
    border: 2px solid #ddd;
    /*枠線*/
    box-sizing: border-box;
    /*横幅の解釈をpadding, borderまでとする*/
  }

  .submit_button_chart {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }

  .chart_display {
    display: inline-block;
    background-color: #02bcf5;
    /*背景色*/
    color: #FFF;
    /*文字色*/
    font-size: 1em;
    /*文字サイズ*/
    line-height: 1;
    text-decoration: none;
    letter-spacing: 0.05em;
    /*字間*/
    padding: 0.5em 0.5em;
    /*ボタン内の余白*/
    border-radius: 3px;
    /*角の丸み*/
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    /*影*/
    -webkit-tap-highlight-color: transparent;
    transition: 0.3s ease-out;
    /*変化を緩やかに*/
  }
}

.column-form {
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  max-height: 80vh;
  overflow: scroll;
  padding: 1.5rem;
  position: absolute;
  right: 2%;
  top: 3.5rem;
  width: 70%;
}

li {
  list-style: none;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.note-item {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.note-title {
  text-align: center;
}

.border {
  border-bottom: 1px solid #ccc;
}

.display {
  display: flex;
  justify-content: center;
}

.display-item {
  display: flex;
  margin-bottom: 1.5em;
}

input.width-record {
  height: 25%;
  margin: 1em 0 0 1.5em;
}

input.width-time {
  height: 25%;
  margin: 1em 0 0 1.5em;
}

.image-radio-button {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0.5em 2em 0;
  padding: 10px;
  float: left;
  color: #fff;
  background-color: #fff;
}

.image-radio-button:hover {
  background: #eee;
}

.image-radio-button label {
  cursor: pointer;
}

textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  outline: none;
  border: none;
}

.column_textform {
  background: #f8f8f8;
  display: block;
  font-size: 1em;
  padding: 12px 15px;
  margin: auto;
  width: 100%;
  transition: 0.8s;
  border-radius: 0;
}

.column_textform--situation {
  background-color: #C2EEFF;
}

.column_textform--feeling {
  background-color: #BAD3FF;
}

.column_textform--think {
  background-color: #DCC2FF;
}

.column_textform--another_think {
  background-color: #FFBEDA;
}

.column_textform--another_feeling {
  background-color: #FFC7AF;
}

.column_textform--another_situation {
  background-color: #B1F9D0;
}

.text_form {
  background: #f8f8f8;
  display: block;
  font-size: 16px;
  padding: 12px 15px;
  margin: auto;
  width: 100%;
  transition: 0.8s;
  border-radius: 0;
}

.text_form--situation {
  background-color: #C2EEFF;
}

.text_form--feeling {
  background-color: #BAD3FF;
}

.text_form--think {
  background-color: #DCC2FF;
}

.text_form--another_think {
  background-color: #FFBEDA;
}

.text_form--another_feeling {
  background-color: #FFC7AF;
}

.text_form--another_situation {
  background-color: #B1F9D0;
}

.overlay {
  /*　要素を重ねた時の順番　*/
  z-index: 1;
  /*　画面全体を覆う設定　*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.raised {
  display: inline-block;
  background-color: #26a69b;
  /*背景色*/
  color: #FFF;
  /*文字色*/
  font-size: 1em;
  /*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;
  /*字間*/
  padding: 0.2em 1em;
  /*ボタン内の余白*/
  margin-top: 2em;
  border-radius: 3px;
  /*角の丸み*/
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /*影*/
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease-out;
  /*変化を緩やかに*/
}

.modal-content {
  z-index: 2;
  margin-top: 5em;
  padding: 2em;
  background: #fff;
}

.modal-delete {
  z-index: 2;
  margin-top: 5em;
  padding: 2em;
  background: #fff;
}

.required {
  display: inline-block;
  background-color: #ff0000;
  /*背景色*/
  color: #FFF;
  /*文字色*/
  font-size: 0.8em;
  /*文字サイズ*/
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;
  /*字間*/
  padding: 0.2em 0.4em;
  /*ボタン内の余白*/
  margin-right: 0.5em;
  border-radius: 3px;
  /*角の丸み*/
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  /*影*/
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease-out;
  /*変化を緩やかに*/
}

.note_item {
  display: flex;
}

.column_item--situation {
  background-color: #60EEFF;
  margin: 0;
  padding: 0.5em;
}

.column_item--situation_list {
  background-color: #60EEFF;
  margin: 0;
  padding: 0.5em;
  font-size: 1em;
}

.column_item--feeling {
  background-color: #5D99FF;
  margin-bottom: 0;
  padding: 0.5em;
}

.column_item--feeling_list {
  background-color: #5D99FF;
  margin-bottom: 0;
  padding: 0.5em;
  font-size: 1em;
}

.column_item--think {
  background-color: #B384FF;
  margin-bottom: 0;
  padding: 0.5em;
}

.column_item--think_list {
  background-color: #B384FF;
  margin-bottom: 0;
  padding: 0.5em;
  font-size: 1em;
}

.column_item--another_think {
  background-color: #FF69A3;
  margin-bottom: 0;
  padding: 0.5em;
}

.column_item--another_think_list {
  background-color: #FF69A3;
  margin-bottom: 0;
  padding: 0.5em;
  font-size: 1em;
}

.column_item--another_feeling {
  background-color: #FF773E;
  margin-bottom: 0;
  padding: 0.5em;
}

.column_item--another_feeling_list {
  background-color: #FF773E;
  margin-bottom: 0;
  padding: 0.5em;
  font-size: 1em;
}

.column_item--another_situation {
  background-color: #64F9C1;
  margin-bottom: 0;
  padding: 0.5em;
}

.column_item--another_situation_list {
  background-color: #64F9C1;
  margin-bottom: 0;
  padding: 0.5em;
  font-size: 1em;
}

.column_item--sad {
  background-color: #EAD9FF;
  border-radius: 100px/50px;
  padding: 1em;
  white-space: nowrap;
}

.column_item--sad_list {
  background-color: #EAD9FF;
  border-radius: 100px/50px;
  padding: 1em;
  font-size: 1em;
}

.submit_button {
  text-align: center;
}

.arrow_top {
  width: 4%;
  height: 4%;
  margin-left: 25%;
  margin-top: 1em;
}

.arrow_middle {
  width: 4%;
  height: 4%;
  margin: auto;
  margin-top: 1em;
}

.arrow_bottom {
  width: 4%;
  height: 4%;
  margin-left: 75%;
  margin-top: 1em;
}

.arrow_right {
  width: 4%;
  height: 4%;
  margin: auto;
}

.situation_form {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.feeling_form {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.think_form {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.another_think_form {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.another_feeling_form {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.another_situation {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.roop_word {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.situation_form_list {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  word-break: break-all;
}

.feeling_form_list {
  text-align: center;
  width: 70%;
  margin-left: 1em;
  margin-right: 1em;
  word-break: break-all;
}

.think_form_list {
  text-align: center;
  width: 70%;
  margin-left: 1em;
  margin-right: 1em;
  word-break: break-all;
}

.another_think_form_list {
  text-align: center;
  width: 70%;
  margin-left: 1em;
  margin-right: 1em;
  word-break: break-all;
}

.another_feeling_form_list {
  text-align: center;
  width: 70%;
  margin-left: 1em;
  margin-right: 1em;
  word-break: break-all;
}

.another_situation_list {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  word-break: break-all;
  margin-bottom: 2em;
}

.roop_word_list {
  text-align: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  word-break: break-all;
}

.flex_width {
  display: flex;
}

@media screen and (max-width: 479px) {
  .column-form {
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    max-height: 75vh;
    max-width: 600px;
    overflow: scroll;
    padding: 1.5rem;
    position: absolute;
    right: 5%;
    top: 3.5rem;
    width: 90%;
  }
}

.column {
  position: relative;
  background-color: #EEEEEE;
}

.column:hover .column__overlay {
  visibility: visible;
}

.column:nth-child(4n+1) .column__wrapper {
  background: #DBBCD5;
}

.column:nth-child(4n+2) .column__wrapper {
  background: #DBDBBC;
}

.column:nth-child(4n+3) .column__wrapper {
  background: #BCDBC8;
}

.column:nth-child(4n) .column__wrapper {
  background: #BCC8DB;
}

.column__wrapper {
  overflow: hidden;
  position: relative;
}

.column__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.column__overlay {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: #fff;
  cursor: zoom-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  visibility: hidden;
}

.column__controls {
  text-align: right;
}

.column__action {
  background: #fff;
  border: 0;
  border-radius: 0.25rem;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  margin-left: 0.25rem;
  opacity: 0.8;
  outline: none;
  padding: 0.5em 0.75em;
}

.column__action:hover {
  opacity: 1;
}

.column__action--like .icon {
  color: #e4406f;
  margin-right: 0.5em;
}

.column__action--liked {
  background: #e4406f;
  color: #fff;
}

.column__action--liked .icon {
  color: #fff;
}

.condition_display {
  padding-bottom: 50px;
}

.icon_display {
  text-align: center;
}

.icon_display_edit {
  border: 5px solid #dedede;
  text-align: center;
}

.icon_side {
  display: inline-block;
}

.hidden_id {
  visibility: hidden;
}

.small-icon {
  width: 50%;
}

